<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">ReStiDonalds</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome}}
                <li class="active"><a href="/">Главная</a></li>
            {{else}}
                <li><a href="/">Главная</a></li>
            {{/if}}

            {{#if isMenu}}
                <li class="active"><a href="/menu">Mеню</a></li>
            {{else}}
                <li><a href="/menu">Mеню</a></li>
            {{/if}}

            {{#if isAddBurger}}
                <li class="active"><a href="/addBurger">Добавить бургер</a></li>
            {{else}}
                <li><a href="/addBurger">Добавить бургер</a></li>
            {{/if}}

            {{#if isAddOther}}
                <li class="active"><a href="/addOther">Добавить закуску/напиток</a></li>
            {{else}}
                <li><a href="/addOther">Добавить закуску/напиток</a></li>
            {{/if}}
        </ul>
    </div>
</nav>