.nav-wrapper {
    padding: 0 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.row .col.s4 {
    margin: 0;
}

.price {
    font-size: 2rem;
}

.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product h1 {
    margin: 0 0 2rem 0;
}

.product img {
    max-width: 600px;
    height: auto;
}

.product .price.big {
    font-size: 2.5rem;
}

.course-form {
    margin: 0 0 1rem 0;
}